<div class="container">
  <div class="title">
    @if (displaySehri()) {
      <span>Time Until Imsak (Fajr)</span>
    } @else {
      <span>Time Until Iftar (Maghrib)</span>
    }
  </div>
  <div class="clock-wrapper">
    <div class="time-card">
      <span class="value">{{ hours() }}</span>
      <span class="label">HOURS</span>
    </div>

    <span class="separator">:</span>

    <div class="time-card">
      <span class="value">{{ minutes() }}</span>
      <span class="label">MINUTES</span>
    </div>

    <span class="separator">:</span>

    <div class="time-card highlight">
      <span class="value seconds">{{ seconds() }}</span>
      <span class="label">SECONDS</span>
    </div>
  </div>
  <div class="reminder">
    "O you who have believed, decreed upon you is fasting as it was decreed upon those before you that you may become righteous."
  </div>
</div>
