<div class="ramadan-dates-table">
  <table mat-table [dataSource]="ramadanTimes()" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> DATE </th>
      <td mat-cell *matCellDef="let element">
        <div class="dates">
          <span>{{element.date | date}}</span>
          <span>{{element.dateHijri}} Ramadan 1445</span>
        </div>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="sehri">
      <th mat-header-cell *matHeaderCellDef> IMSAK (DAWN) </th>
      <td mat-cell *matCellDef="let element"> {{element.sehri.split('T')[1]}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="iftar">
      <th mat-header-cell *matHeaderCellDef> IFTAR (SUNSET) </th>
      <td mat-cell *matCellDef="let element"> {{element.iftaar.split('T')[1]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
